.modBox{
    height: 200px;
    max-width: 600px;
}
.sendMessage{
    text-align: center;
    width: 80%;
    padding: 10px ;
    background-color: #b298dc;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    
}

#contactInfo section{
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .modBox{
        height: 280px;
    }
    
}